._sidebar {
  position: relative;
  width: 250px;
  max-height: 95vh;
  background-color: var(--color-secondary15);
  border: 1px solid var(--color-secondary35);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  ._profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 0 5px;
    padding: 8px 15px;
    border-radius: 7px;
    transition: background-color var(--transition-time-1);
    .img-con {
      border-radius: 50%;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.445);
      overflow: hidden;
      width: 65px;
      height: 65px;
    }
    .profile-img {
      width: 65px;
      height: 65px;
      object-fit: cover;
      transition: scale var(--transition-time-1);
    }
    .username-text {
      font-family: Arial, Helvetica, sans-serif, system-ui;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      flex-wrap: wrap;
      font-size: small;
      line-height: 1.2;
      text-transform: capitalize;
    }

    &:hover {
      background-color: var(--color-secondary10);

      .profile-img {
        scale: 1.2;
      }
    }
  }
  ._filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      padding: 5px 25px;
      border-left: 4px solid transparent;
      color: var(--color-primary90);
      transition: background-color var(--transition-time-1);
      &:hover {
        background-color: var(--color-primary10);
      }
    }
    .active-btn {
      background-color: var(--color-primary10);
      border-left: 4px solid var(--color-secondary90);
      color: var(--color-primary100);
    }
  }

  ._sign-out {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
    padding: 6px 12px;
    border-radius: 7px;
    color: var(--color-primary60);
    cursor: pointer;
    background-color: var(--color-secondary0);
    transition: color var(--transition-time-1);
    &:hover {
      color: var(--color-primary100);
    }
  }
}
